<html>
    <head>
        <title>Weather in Greenwich</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
    </head>
    <body>
        <h1 style="text-align:center"><b>Weather in Greenwich</b></h1>
        <div class="centred-outer">
            <iframe id="weatherFrame" title="Weather Frame" width="1024" height="800" src="<SITE>"></iframe>
        </div>
        <div>
            <p>Site updated: <TIME></p>
        </div>
    </body>
</html>