<html>
    <head>
        <title>Weather in Greenwich</title>
    </head>
    <body>
        <div>
            <iframe style="border: none" width="900px" height="900px" src="<SITE>/weather"></iframe>
        </div>
        <div>
            <p>Site updated: <TIME></p>
        </div>
    </body>
</html>