<html>
    <head>
        <title>Weather in Greenwich</title>
    </head>
    <body>
        <div>
            <h1 style="text-align:center"><b>Weather in Greenwich</b></h1>
            <iframe id="weatherFrame" title="Weather Frame" width="1024" height="800" src="<SITE>"></iframe>
        </div>
        <div>
            <p>Updated <TIME></p>
        </div>
    </body>
</html>