/build/
/ADC Mock Values.xlsx
/MAV
/MAV.c
/MAV.h
/avrw.hex
/avrw.s
/web-app/node_modules/

Rpi/.gitignore
site/htdocs/weather.html
site-uploader/jar/site-uploader.jar
site-uploader/lib/commons-net-3.6.jar
site-uploader/build/com/guy/siteupload/siteUpload.class
site-uploader/site.properties
.vscode/launch.json
