/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/
.container {
	width: 800px;
	margin: 0 auto;
}

.btn {
	background-color: DodgerBlue; /* Blue background */
	border: none; /* Remove borders */
	border-radius: 10px;
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	vertical-align: middle;
  }

/* Darker background on mouse-over */
.btn:hover {
	background-color: RoyalBlue;
}

.pretty-table {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid rgb(83, 162, 243);
	border-radius: 10px;
	background: aliceblue;
}

.table-heading {
	border: 0px solid rgb(83, 162, 243);
	color: black;
	margin: 20px;
	width: 25%;
	padding: 30px;
}

.column-heading {
	border: 0px solid rgb(83, 162, 243);
	color: black;
	margin: 20px;
	width: 25%;
	padding: 30px;
}

.table-cell {
	border: 0px solid rgb(83, 162, 243);
	color: darkred;
	margin: 20px;
	width: 25%;
	padding: 30px;
}

.ghost-button {
	background-color: transparent;
	border: 2px solid #ddd;
	padding: 10px 30px;
	width: 100%;
	min-width: 350px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
	border: 2px solid #515151;
}

.pretty-frame {
	border: 3px navy;
	border-radius: 10px;
	background: aliceblue;
	vertical-align: middle;
	padding: 15px;
}

.paragraph {
	text-align: left;
	margin-left: 0px
}

.div-left {
	margin-left: 0px;
	margin-right: auto;
	border: none;
}

.frame {
	width: 900px;
	height: 900px;
}

.centred-outer {
	position: relative;
	text-align: center;
	width: 800px;
	height: 120px;
	margin: auto;
}

.centred-inner {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 800px;
	height: 80px;
}
