<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Current Weather</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
	</head>
	<body>
		<h1 style="text-align: center">Current Weather</h1>
		<div class="centred-outer">
			<div class="centred-inner">
			<p class="pretty-frame" style="line-height: 1.5">
				<button class="btn" onclick="getHREF('weather')"><i class="fa fa-cloud"></i> Current</button>
				<button class="btn" onclick="getHREF('24h')"><i class="fa fa-line-chart"></i> Last 24h</button>
				<button class="btn" onclick="getHREF('7d')"><i class="fa fa-line-chart"></i> Last 7d</button>
				<button class="btn" onclick="getHREF('28d')"><i class="fa fa-line-chart"></i> Last 28d</button>
			</p>
			</div>

			<script>
				function getHREF(ref) {
					if (ref == 'weather') {
						window.location.href = "/weather";
					}
					else if (ref == '24h') {
						window.location.href = "/weather/charts?period=24h";
					}
					else if (ref == '7d') {
						window.location.href = "/weather/charts?period=7d";
					}
					else if (ref == '28d') {
						window.location.href = "/weather/charts?period=28d";
					}
				}
			</script>
		</div>
		<div class="centred-outer">
			<table class="pretty-table">
				<tr>
					<th></th>
					<th class="table-heading" style="text-align: center"><font size="6"><b>Min</b></font></th>
					<th class="table-heading" style="text-align: center"><font size="6"><b>Now</b></font></th>
					<th class="table-heading" style="text-align: center"><font size="6"><b>Max</b></font></th>
				</tr>
				<tr>
					<td class="column-heading" style="text-align: left"><font size="6"><b>T (°C)</b></font></td>
					<td class="table-cell" style="text-align: center">
						{% if minTemperature %}
							{{ minTemperature }} 
						{% endif %}
					</td>
					<td class="table-cell" style="text-align: center">
						{% if avgTemperature %}
							<font size="12"><b>{{ avgTemperature }}</b></font>
						{% endif %}
					</td>
					<td class="table-cell" style="text-align: center">
						{% if maxTemperature %}
							{{ maxTemperature }} 
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="column-heading" style="text-align: left"><font size="6"><b>P (mBar)</b></font></td>
					<td class="table-cell" style="text-align: center">
						{% if minPressure %}
							{{ minPressure }} 
						{% endif %}
					</td>
					<td class="table-cell" style="text-align: center">
						{% if avgPressure %}
							<font size="12"><b>{{ avgPressure }}</b></font>
						{% endif %}
					</td>
					<td class="table-cell" style="text-align: center">
						{% if maxPressure %}
							{{ maxPressure }} 
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="column-heading" style="text-align: left"><font size="6"><b>H (%RH)</b></font></td>
					<td class="table-cell" style="text-align: center">
						{% if minHumidity %}
							{{ minHumidity }} 
						{% endif %}
					</td>
					<td class="table-cell" style="text-align: center">
						{% if avgHumidity %}
							<font size="12"><b>{{ avgHumidity }}</b></font>
						{% endif %}
					</td>
					<td class="table-cell" style="text-align: center">
						{% if maxHumidity %}
							{{ maxHumidity }} 
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>