/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600'); 

/* VARS */
$open-sans: 'Open Sans', 'Helvetica', sans-serif;

$darkNavy: #213140;
$teal1: #66B3FB;
$teal2: #4B9DEA;
$charcoal: #555555;
$gold: #B6985A;

$activeShadow: 0 0 10px rgba($teal1, .5);

/* MIXINS */
@mixin focusOutline {outline: dotted 1px #CCC; outline-offset: .45rem;}
@mixin hideInput {width: 0; height: 0; position: absolute; left: -9999px;}
@mixin breakpoint($point) {
	@if $point == 1100 {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == 800 {
		@media (max-width: 800px) { @content ; }
	}
}

body:not(:-moz-handler-blocked) fieldset {display: table-cell;}

/* TOGGLE STYLING */
.toggle {
	margin: 0 0 1.5rem; box-sizing: border-box;
	font-size: 0;
	display: flex; flex-flow: row nowrap;
	justify-content: flex-start; align-items: stretch;
	input {@include hideInput;}
	input + label {
		margin: 0; padding: .75rem 2rem; box-sizing: border-box;
		position: relative; display: inline-block;
		border: solid 1px #DDD; background-color: #FFF;
		font-size: 1rem; line-height: 140%; font-weight: 600; text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out, 
					color .25s ease-out, 
					background-color .15s ease-out,
					box-shadow .15s ease-out;
		
		&:first-of-type {border-radius: 6px 0 0 6px; border-right: none;}
		&:last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
	}
	input:hover + label {border-color: $darkNavy;}
	input:checked + label {
		background-color: $teal2;
		color: #FFF;
		box-shadow: $activeShadow;
		border-color: $teal2;
		z-index: 1;
	}
	input:focus + label {@include focusOutline;}

	@include breakpoint(800) {
		input + label {
			padding: .75rem .25rem;
			flex: 0 0 50%;
			display: flex; justify-content: center; align-items: center;
		}
	}
}

/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
.status {
	margin: 0;
	font-size: 1rem; font-weight: 400;
	span {
		font-weight: 600; color: $gold;
		&:first-of-type {display: inline;}
		&:last-of-type {display: none;}
	}
	@include breakpoint(800) {
		span {
			&:first-of-type {display: none;}
			&:last-of-type {display: inline;}			
		}
	}
}


body {
	width: 800px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 800px;
	margin: 0 auto;
}

fieldset {
	display: block;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0em;
	-webkit-padding-start: 0em;
	-webkit-padding-end: 0em;
	-webkit-padding-after: 0em;
	border: 0px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	min-width: -webkit-min-content;
	padding: 30px;
}

.table-left {
	margin-left: 0px;
	margin-right: autu;
	border: 0px solid rgb(83, 162, 243);
}

td, th {
	border: 0px solid rgb(83, 162, 243);
}

.ghost-input, p {
	display: block;
	font-weight: 300;
	width: 100%;
	font-size: 25px;
	border: 0px;
	outline: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #4b545f;
	background: #fff;
	font-family: Open Sans, Verdana;
	padding: 10px 15px;
	margin: 30px 0px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.ghost-input:focus {
	border-bottom: 1px solid #ddd;
}

.ghost-button {
	background-color: transparent;
	border: 2px solid #ddd;
	padding: 10px 30px;
	width: 100%;
	min-width: 350px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
	border: 2px solid #515151;
}

p {
	color: #E64A19;
}