<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
		<b>Current Weather</b>
       <% if(temperature !== null){ %>
		<p><%= temperature %></p>
		<% } %>

       <% if(pressure !== null){ %>
		<p><%= pressure %></p>
		<% } %>

       <% if(humidity !== null){ %>
		<p><%= humidity %></p>
		<% } %>
       </fieldset>
    </div>
  </body>
</html>